body{
    background: url("https://media.istockphoto.com/id/946382232/photo/blank-waltercolor-paper-sheet.jpg?s=612x612&w=0&k=20&c=tZR_uJ1RaE-jloVXcBazMYVySFLQMroViQUgmZjLpW0=");
    background-repeat: no-repeat;
    margin: auto;
    background-size: 2000px 1000px;
}

h1{
    color: black;
    font-size: 28;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
}
.header{
    background-color: rgb(230, 230, 230);
    text-align: center;
    border-style: hidden;
    font-size: 28;
    font-family: Arial, Helvetica, sans-serif;
}

.footer{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
